header.header
    .container
        .header__inner
            img#logo
            nav.header__menu
                a.header__link.header__link_activate О нас
                a.header__link.header__link_dropdown Услуги
                a.header__link Вакансии
                a.header__link Новости
                a.header__link.header__link_dropdown Соглашения
            .header__buttons
                button.button.button_outline Войти
                button.button Зарегистрироваться

