/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss ***!
  \***********************************************************************************************************************************************************************************/
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.header__inner {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  margin-left: auto;
}

.header__link {
  color: #1F2041;
  opacity: 0.5;
}
.header__link + .header__link {
  margin-left: 20px;
}

.header__link_dropdown {
  position: relative;
  margin-right: 15px;
}
.header__link_dropdown::after {
  content: url(assets/dropdown.svg);
  position: absolute;
  right: -15px;
}

.button {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(#BC9CFF, #8BA4F9);
  border: 2px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 22px;
  margin-left: 20px;
  padding: 9px 20px 10px;
  cursor: pointer;
}

.button_outline {
  color: #BC9CFF;
  -webkit-box-shadow: inset 0px 0px 0px 100vw #fff;
          box-shadow: inset 0px 0px 0px 100vw #fff;
}
