$dark: #1F2041;
$purple: #BC9CFF;
$green: #6FCF97;

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.header__inner {
    min-height: 70px;
    display: flex;
    align-items: center;
}

.header__menu {
    margin-left: auto;
}

.header__link {
    color: $dark;
    opacity: 50%;

    &+.header__link {
        margin-left: 20px;
    }
}

.header__link_dropdown {
    position: relative;
    margin-right: 15px;

    &::after {
        content: url(../assets/dropdown.svg);
        position: absolute;
        right: -15px;
    }
}

.button {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient($purple, #8BA4F9);
    border: 2px solid transparent;
    box-shadow: none;
    border-radius: 22px;
    margin-left: 20px;
    padding: 9px 20px 10px;
    cursor: pointer;
}

.button_outline {
    color: $purple;
    box-shadow: inset 0px 0px 0px 100vw #fff;
}